* {
    background-color: lightgrey;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
GRID CONTROLS
*/

#grid-custom-controls {
    display: flex;
}

// Slider
.slider {
    -webkit-appearance: none;
    appearance: none;
    min-width: 500px;
    height: 25px;
    background: grey;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.slider:hover {
    opacity: 1;
}
// Slider Handle
.slider::-webkit-slider-thumb {  // CSS pseudoelement
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;  // Changes cursor on hover
}
.slider::-moz-range-thumb {  // Mozilla Extension pseudoelement
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;  // Changes cursor on hover
}

/*
DRAW CONTROLS
*/
